header {
  position: relative;
  width: 100%;
  height: 400px;
  top: 120px;
  padding-top: 250px;
  background-color: #cc8800;
  background-image: url(http://www.transparenttextures.com/patterns/white-wall-3.png);
  div {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-128px);
  }
  h2 {
    text-align: center;
  }
}
