header {
  width: 100%;
  height: 400px;
  position: relative;
  top: 120px;
  background-color: #cc8800;
  background-image: url(http://www.transparenttextures.com/patterns/white-wall-3.png);
}

header > div {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-128px);
}

header h2 {
  margin: 0 auto;
  text-align: center;
}
