.new-tweet {
  display: none;
}

.new-tweet form {
  width: 100%;
}

.new-tweet textarea {
  width: 100%;
  height: 70px;
  border: none;
  border-bottom: 3px solid;
  background-color: transparent;
  resize: none;
  outline: none;
}

.new-tweet .input-area {
  position: relative;
  margin-top: 6px;
}

.new-tweet .input-area span {
  position: absolute;
  right: 10px;
}

.new-tweet .input-area span.orange-text {
  color: orange;
}

.new-tweet .input-area span.red-text {
  color: red;
}

.new-tweet input {
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee";
  box-shadow: 2px 2px 0 0 gray;
  outline: none;
  border: none;
}

.new-tweet input:hover {
  cursor: pointer;
}

.new-tweet .warning-container {
  display: none;
  margin: 10px 0;
  width: 100%;
  height: 55px;
  border: 3px solid red;
}

.new-tweet .warning {
  display: flex;
  align-content: center;
}

.new-tweet .warning img {
  margin: 0 5px;
}

.new-tweet .warning span {
  height: 50px;
  line-height: 50px;
}
